.App {
  text-align: center;
  margin: 0 auto;

}
.sum {
  text-transform: uppercase;
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 5px 15px;
  margin: 20px;
  display: inline-block;
}

.box {
  display: flex;
  justify-content: center;
  height: 700px;
}
.box-name {
  font-size: 20px;
  text-transform: uppercase;
}
