.Ingredients-box {
    display: inline-block;
    width: 300px;
    padding: 0 15px;
}

.Ingredients-box img {
    width: 50px;
    height: auto;
}

.Ingredients-box ul {
    margin: 0;
    padding: 0;
}
.Ingredients-box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 15px 0;
    list-style: none;
    padding: 0;
}
.ingredient-name {
    flex-grow: 10;
    text-align: left;
    padding: 10px;
}
.ingredient-price {
    padding: 10px;
}